/* 04-12-2013 
** ============================================
** Standard HTML elements style sets
** ============================================
*/

body {
	font-family: Verdana;
    font-size: 12px;
}

table {
	font-family: Trebuchet;
    font-size: 12px;
}

td {
	text-align: left;
}

/*
** ============================================
** Dorop-down menu style sets
** ============================================
*/

.menu ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.menu ul li { 
	display: block;
	position: relative;
	float: left; 
}

.menu li ul {
	display: none;
}
 
.menu ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #2C5463;
    margin-left: 1px;
    white-space: nowrap;
}
 
.menu ul li a:hover { background: #617F8A; }
.menu li:hover ul { display: block; position: absolute; }
.menu li.submenu ul { display: none; }
.menu li.submenu:hover ul { display: block; position: absolute; top: 0px; }
.menu li.submenu ul li { position: relative; left: 105px; }
.menu li.submenu ul li a { display: block; }
 
.menu li:hover li { float: none; font-size: 11px; }
.menu li:hover a { background: #617F8A; }
.menu li:hover li a:hover { background: #95A9B1; }

/*
** ============================================
** Custom elements style sets
** ============================================
*/

/* 
** Any element (table, graph etc.) that needs to be included in the report
** but has to be hidden
*/
.hidden_element {
    display:none;
}

/* 
** Graph attributes
*/
.graphContainer {
	float: center;
	width: 1500px;
	height: 750px;
	margin: 2px;
}

/*
** Scrolling
*/
.scrollContent750px {
	float: center;
	height: 750px;
	margin: 2px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.scrollContent500px {
	float: center;
	height: 500px;
	margin: 2px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.scrollContent250px {
	float: center;
	height: 250px;
	margin: 2px;
	overflow-x:hidden;
	overflow-y:scroll;
}

/*
** Header with Intel logo
*/
#header {
	border-top: 1px solid #000;
	background: #0E5392 url(https://ifits.github.io/ifits-map/images/Intel_Logo_Blue_White.png) left no-repeat;
	background-color: #0E5392;
	width: 100%;
    height: 80px;
	color: #FFFFFF;
	text-align: center;
}
#header img {
	padding: 0px;
	display: inline;
	float: left;
}

#header h1 {
	vertical-align: middle; 
	display: inline;
	position: float;
	text-align: center; 
    margin: 0px;
}

#header h2 {
	vertical-align: middle; 
	display: inline;
	position: float;
	text-align: center; 
    margin: 0px;
}

/*
** Sceneario Table 'Droplist' colunm formating
*/
.dropContent {
/*	position: fixed; */
	width: auto;
	height: 50px;
	margin: 2px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.dropContentList {
	font: Verdana;
	font-size: 10px;
	background-color: #D0D0D0;
}

/*
** Footer with "Intel Confidential"
*/
#footer {
	border-top: 1px solid #000;
	background-color: #0E5392;
	width: 100%;
    height: 35px;
	color: #FFFFFF;
	text-align: center;
}

/*
** Label properties
*/
.label {
	border-width:1px;
	font-size: 26px;
	color: #5140a0;
}

/*
** ============================================
** Tabs for DIVs containers
** ============================================
*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left; 
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #c8c8c8;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #f5f5f5;
}

ul.tabs li a {
	text-decoration: none;
	background: #9b9b9b;
	color: #FFFFFF;
	display: block;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:3px;
	text-transform:uppercase;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

ul.tabs li a:hover, ul.tabs li.active a {
	background: #fff;
	color:#000; 
}

ul.tabs li.current a:active {
	background: #fff;
	color: #000;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

/*
** ============================================
** Maps
** ============================================
*/
/* Map canvas */
html, body, #map_canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}
/* Pop-up info window */
.info_window {
    width: 300px;
    height: 100px;
    text-align: left;
}

.checkboxTree li {
    list-style-type: none;
    position: relative;
}

.checkboxTree li span {
    cursor: default;
    position: absolute;
    top: 1px;
    left: -16px;
}